html, body{ 
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.body-background-image {
    background-image: url("../images/background-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.body-background-image .main-text {
    font-family: system-ui;
    color: white;
    font-size: 65px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

}

.body-background-image .main-text-bold{
    font-weight: bold;
}

.figure {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, 60%);
}